html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.3px;
  font-size: 18px;
  background-color: #ffffff;
  color: #1d1d1d;

  -webkit-font-smoothing: antialiased;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  line-height: 1;
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

button {
  background: rgb(36, 36, 36);
  border-radius: 5px;
  margin: 0 10px;
  padding: 5px 10px;
  color: rgb(243, 243, 243);
  font-weight: 400;
  font-size: 14px;
  outline: none;
  border: none;
}
