.container {
  width: 80%;
  margin: 0 auto;
  &.vh {
    height: 90vh;
    @media only screen and (max-width: 900px) {
      height: 100%;
    }
  }
  h1 {
    font-weight: 600;
  }
  &.flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
.landing {
  height: 90vh;
}

a.button {
  border: 1.5px solid white;
  padding: 7px 22px;
  margin: 1rem 0;
}
