$base-color: #eeeeee;
$primary-font: #252525;

.overflow {
  overflow: hidden !important;
}
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  height: 15vh;
}
.menu-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 900px) {
    width: 95%;
  }
}
.menubar {
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  width: 25px;
  height: 20px;
  z-index: 999;
  &:hover {
    opacity: 0.9;
  }
  &:focus {
    > * {
      background: rgb(48, 48, 48);
    }
  }

  @media only screen and (min-width: 900px) {
    display: none;
  }
}
.menubar-top {
  width: 25px;
  height: 2px;
  background: $primary-font;
  position: absolute;
  top: 0px;
  transition: all 300ms ease;
  &.toggled {
    transform: rotate(45deg);
    top: 5px;
  }
}
.menubar-bottom {
  width: 25px;
  height: 2px;
  background: $primary-font;
  top: 10px;
  position: absolute;
  transition: all 300ms ease;
  &.toggled {
    transform: rotate(-45deg);
    top: 5px;
  }
}
.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $base-color;
  width: 100%;
  height: 0%;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  z-index: 998;

  &.open {
    height: 100%;
  }
  ul {
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0%;
    opacity: 0;
    width: 100%;
    &.display {
      opacity: 1;
      height: 100%;
      display: flex;
    }

    .mobile-links {
      display: flex;
      text-align: center;
      flex-direction: column;
      li {
        padding: 0.4rem 0;
      }
    }
    a {
      text-decoration: none;
      color: $primary-font;
      font-size: 2.5rem;
      font-weight: 600;

      &:hover {
        color: darken($primary-font, 15%);
      }
    }
  }
}
ul.web {
  display: flex;
  z-index: 999;
  li {
    margin-right: 10px;
    a {
      text-transform: uppercase;
      font-size: 15px;
      transition: all 200ms ease;
      &:hover {
        color: rgb(133, 133, 133);
      }
    }
  }
  @media only screen and (max-width: 900px) {
    display: none;
  }
}
.title {
  a {
    z-index: 999;
  }
}
