article {
  h1.title {
    font-size: 4rem;
    font-weight: 800;
    @media only screen and (max-width: 600px) {
      font-size: 2rem;
    }
  }
  h4 {
    width: max-content;
    font-size: 0.75rem;
    padding-bottom: 5px;
    font-weight: 600;
    color: rgb(131, 131, 131);
    @media only screen and (max-width: 600px) {
      width: 100%;
      font-size: 14px;
      border-bottom: none;
    }
  }
  p {
    margin: 40px 0;
  }
  img {
    width: 100%;
  }
  .date {
    font-size: 0.8em;
  }
  .links {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    a {
      background: rgb(36, 36, 36);
      border-radius: 5px;
      margin: 10px 10px 0 0;
      padding: 8px 18px;
      color: rgb(243, 243, 243);
      font-weight: 400;
      font-size: 14px;
      transition: all 150ms ease;
      border: 1px solid rgb(46, 46, 46);
      &:hover {
        box-shadow: 0 10px 25px -3px rgba(0, 0, 0, 0.1),
          0 4px 6px -2px rgba(0, 0, 0, 0.05);
        color: rgb(36, 36, 36);
        background: rgb(255, 255, 255);
        font-weight: 600;
      }
    }
    a.back-button {
      // width: 165px;
      margin-left: 0px;
      background: none;
      color: rgb(36, 36, 36);
      border: 1px solid rgb(36, 36, 36);
      font-weight: 400;
      text-align: center;
      &:hover {
        box-shadow: 0 10px 25px -3px rgba(0, 0, 0, 0.1),
          0 4px 6px -2px rgba(0, 0, 0, 0.05);
      }
    }
  }
  .content {
    padding: 1em 0;
    border-bottom: 0.5px solid #ececec5e;
  }
}
.post-container {
  // height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 60px;
}

// a.back-button {
//   background: rgb(36, 36, 36);
//   border-radius: 5px;
//   margin: 10px 10px 0 0;
//   color: rgb(243, 243, 243);
//   font-weight: 400;
//   font-size: 14px;
//   transition: all 150ms ease;
//   border: 1px solid rgb(46, 46, 46);
//   &:hover {
//     box-shadow: 0 10px 25px -3px rgba(0, 0, 0, 0.1),
//       0 4px 6px -2px rgba(0, 0, 0, 0.05);
//     color: rgb(36, 36, 36);
//     background: rgb(255, 255, 255);
//     font-weight: 600;
//   }
// }
a.back-button {
  font-weight: 400;
  font-size: 14px;
  margin-left: 0px;
  background: none;
  color: rgb(36, 36, 36);
  border: 1px solid rgb(36, 36, 36);
  font-weight: 400;
  text-align: center;
  padding: 8px 18px;
  border-radius: 5px;
  &:hover {
    box-shadow: 0 10px 25px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
}
