.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1em;
  margin-top: 40px;
  h1 {
    font-weight: 600;
  }
  .item {
    background: rgb(248, 248, 248);
    padding: 1em;
    transition: transform 0.3s ease;
    border-radius: 5px;
    &:hover {
      transform: scale(1.0075);
    }
    h2 {
      font-weight: 600;
    }
    .link {
      cursor: pointer;
    }
  }
}
