.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  h1 {
    font-weight: 600;
  }
  .item {
    border: 1px solid #ececec;
    padding: 1em;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.0075);
    }
    h2 {
      font-weight: 600;
    }
    .link {
      cursor: pointer;
    }
  }
}
