article {
  h1 {
    font-size: 4rem;
    font-weight: 800;
    @media only screen and (max-width: 600px) {
      font-size: 1.4rem;
    }
  }
  h4 {
    width: max-content;
    border-bottom: 2px solid rgba(202, 202, 202, 0.623);
    padding-bottom: 5px;
    font-weight: 400;
    color: rgb(73, 73, 73);
    @media only screen and (max-width: 600px) {
      width: 100%;
      font-size: 14px;
      border-bottom: none;
    }
  }
  p {
    margin: 40px 0;
  }
  .date {
    font-size: 0.8em;
  }
  .links {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    a {
      background: rgb(36, 36, 36);
      border-radius: 5px;
      margin: 10px 10px 0 0;
      padding: 8px 18px;
      color: rgb(243, 243, 243);
      font-weight: 400;
      font-size: 14px;
      transition: all 150ms ease;
      border: 1px solid rgb(46, 46, 46);
      &:hover {
        box-shadow: 0 10px 25px -3px rgba(0, 0, 0, 0.1),
          0 4px 6px -2px rgba(0, 0, 0, 0.05);
        color: rgb(36, 36, 36);
        background: rgb(255, 255, 255);
        font-weight: 600;
      }
    }
    a:first-child {
      width: 150px;
      margin-left: 0px;
      background: none;
      color: rgb(36, 36, 36);
      border: 1px solid rgb(36, 36, 36);
      font-weight: 400;
      &:hover {
        box-shadow: 0 10px 25px -3px rgba(0, 0, 0, 0.1),
          0 4px 6px -2px rgba(0, 0, 0, 0.05);
        font-weight: 600;
      }
      @media only screen and (max-width: 600px) {
        width: 140px;
      }
    }
  }
  .content {
    padding: 1em 0;
    border-bottom: 0.5px solid #ececec5e;
  }
}
.post-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.back-button {
  margin: 12px 0;
}
