$base-color: #0f0f0f;
$primary-font: #f3f3f3;

.font-large {
  font-size: 2rem;
  font-weight: 700;
}

a {
  color: $primary-font;
  text-decoration: none;
}

.title {
  font-size: 5rem;
  font-weight: 600;
  @media only screen and (max-width: 600px) {
    font-size: 3rem;
  }
}
.subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}
// .padding-left {
//   padding-left: 50px;
// }
