$base-color: #f1f1f1;
$primary-font: #292929;

.font-large {
  font-size: 2rem;
  font-weight: 700;
}

a {
  color: $primary-font;
  text-decoration: none;
  font-weight: 600;
}

.title {
  font-size: 5rem;
  font-weight: 600;
  @media only screen and (max-width: 600px) {
    font-size: 3rem;
  }
}
.subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}
a.landing-button {
  margin: 20px 0;
  background: rgb(46, 46, 46);
  outline: none;
  color: rgb(216, 216, 216);
  border-radius: 5px;
  padding: 8px 18px;
  transition: all 150ms ease;
  &:hover {
    background: white;
    color: rgb(17, 17, 17);
    box-shadow: 1px 4px 10px 2px rgba(0, 0, 0, 0.08);
    transform: translateY(-1px);
  }
}
// .padding-left {
//   padding-left: 50px;
// }
