$base-color: #f1f1f1;
$primary-font: #292929;

.font-large {
  font-size: 2rem;
  font-weight: 700;
}

a {
  color: $primary-font;
  text-decoration: none;
  font-weight: 600;
}

h1.title {
  font-size: 5rem;
  font-weight: 800;
  @media only screen and (max-width: 600px) {
    font-size: 3rem;
  }
}
.subtitle {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(54, 54, 54);
  border-bottom: 2px solid #a3a3a317;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
a.landing-button {
  margin: 20px 0;
  background: rgb(46, 46, 46);
  outline: none;
  color: rgb(253, 253, 253);
  border-radius: 5px;
  padding: 8px 18px;
  transition: all 150ms ease;
  &:hover {
    background: white;
    color: rgb(17, 17, 17);
    box-shadow: 1px 4px 10px 2px rgba(0, 0, 0, 0.08);
    transform: translateY(-1px);
  }
}
